<html>
<head>
</head>
<body>
<form action="/fib" method="POST">
  Fibonacci
  <input type="text" name="fib_val" value="0">
  <input type="submit" value="Calculate">
</form>
<form action="/fac" method="POST">
  Factorial
  <input type="text" name="fac_val" value="0">
  <input type="submit" value="Calculate">
</form>
<form action="/hello" method="POST">
  Say hello
  <input type="text" name="hello_val" value="">
  <input type="submit" value="Hi">
</form>
</body>
</html>
