<html>
<head>
</head>
<body>
<form action="/" method="GET">
  Fibonacci:
  <br>
  <input type="text" name="fib_val" value="">
  <input type="submit" value="Calculate">
</form>
<form action="/" method="GET">
  Factorial:
  <br>
  <input type="text" name="fac_val" value="">
  <input type="submit" value="Calculate">
</form>
<form action="/" method="GET">
  Say hello:
  <br>
  <input type="text" name="hello_val" value="">
  <input type="submit" value="Hi">
</form>
</body>
</html>
