<html>
<head>
</head>
<body>
<form action="/">
  Fibonacci
  <input type="text" name="fib_val" value="0">
  <input type="submit" value="Calculate">
</form>
<form action="/">
  Factorial
  <input type="text" name="fac_val" value="0">
  <input type="submit" value="Calculate">
</form>
<form action="/">
  Say hello
  <input type="text" name="hi_val" value="">
  <input type="submit" value="Hi">
</form>
</body>
</html>
